body, html{
    height: 100%;
    background-image: url('/imgs/galaxy-wallpaper-35.jpg');
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    overflow: hidden;
}

.bgimg {
  /* Background image */
  
  /* Full-screen */

  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
hr {
  margin: auto;
  width: 40%;
}
.topright {
  position: absolute;
  top: 0;
  right: 16px;
}
.button{
  background: transparent;
  width: 10px;
  height: 10px;
  border: 0ch;
}