body, html{
    background-image: url('/imgs/galaxy-wallpaper-35.jpg');
    height: 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.topRight{
    float: right;
    margin-right: 20px;
}
.fat{
    width: 50%;
}






#titleBox{
    border: white solid 5px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color:rgb(168, 168, 168);
    border-radius: 5px;
    padding: 10px;
    
}
hr {
    margin: auto;
    width: 40%;
}

/* fonts Start */
.bangers{
    font-family: 'Bangers', cursive;
}

.baloo{
    font-family: 'Baloo', cursive;
}

.pressStart{
    font-family: 'Press Start 2P', cursive;
}

.rubikMono{
    font-family: 'Rubik Mono One', sans-serif;
}

.italiano{
    font-family: 'Italianno', cursive;
}
/* fonts End */